In [21]:
import pandas as pd
from sqlalchemy import create_engine

import psycopg2

In [22]:
csv1 = "4032020(DB).csv"
csv2 = "4102020(DB).csv"
csv3= "4172020(DB).csv"
csv4 = "Productivity Work Template.csv"


df1 = pd.read_csv(csv1)
df2 = pd.read_csv(csv2)
df3 = pd.read_csv(csv3)
df4 = pd.read_csv(csv4)

In [23]:
df1

,WH_ID,EMPLOYEE_ID,DAY_,DATE_,12am,1am,2am,3am,4am,5am,...,4pm,5pm,6pm,7pm,8pm,9pm,10pm,11pm,TTL_PCK_FOR_THE_DAY,CURRENT_OPEN_PICKS
0,1550,BCOURTNE,FRIDAY,04/03/2020,0,0,0,0,0,0,...,12,9,6,0,0,0,0,0,58,15
1,1550,BWERRBAC,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,15
2,1550,CCHRISTON2,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,43,15
3,1550,CFLORES,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,15
4,1550,DHERNAND,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,99,15
5,1550,EADAMS1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,31,18,45,18,0,0,0,0,217,15
6,1550,EWILLIAMS1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,22,13,11,11,0,0,0,0,215,15
7,1550,EZARATE,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,203,15
8,1550,FBRISEN,FRIDAY,04/03/2020,0,0,0,0,0,0,...,7,1,15,0,0,0,0,0,35,15
9,1550,GZEPEDA,FRIDAY,04/03/2020,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,15
10,1550,JMONTEJ1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,127,15
11,1550,JRIVERA2,FRIDAY,04/03/2020,0,0,0,0,0,0,...,33,12,7,0,0,0,0,0,194,15
12,1550,JRODRIGU,FRIDAY,04/03/2020,0,0,0,0,0,0,...,4,11,23,8,0,0,0,0,133,15
13,1550,KCALDWELL1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,42,9,29,13,0,0,0,0,141,15
14,1550,LCALDWELL1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,31,27,42,20,0,0,0,0,263,15
15,1550,MRODRI4,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,7,0,0,0,0,0,0,20,15
16,1550,SHILDEBR,FRIDAY,04/03/2020,0,0,0,28,15,0,...,0,0,0,0,0,0,0,0,43,15
17,1550,TQUINONE,FRIDAY,04/03/2020,0,0,0,8,19,0,...,0,0,0,0,0,0,0,0,27,15
18,1550,TSCOFIEL,FRIDAY,04/03/2020,0,0,0,0,0,0,...,14,7,13,15,0,0,0,0,151,15
19,1550,WALLEN1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,11,9,9,2,0,0,0,0,88,15
20,1550,YWARIO1,FRIDAY,04/03/2020,0,0,0,0,0,0,...,5,0,0,0,0,0,0,0,15,15

In [13]:
finaldf = pd.concat([df1,df2,df3,df4,df5,df6])

In [14]:
finaldf

,WH_ID,EMPLOYEE_ID,DAY_,DATE_,12am,1am,2am,3am,4am,5am,...,4pm,5pm,6pm,7pm,8pm,9pm,10pm,11pm,TTL_PCK_FOR_THE_DAY,CURRENT_OPEN_PICKS
0,1550,BCOURTNE,FRIDAY,04/03/2020,0,0,0,0,0,0,...,12,9,6,0,0,0,0,0,58,15
1,1550,BWERRBAC,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,15
2,1550,CCHRISTON2,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,43,15
3,1550,CFLORES,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,15
4,1550,DHERNAND,FRIDAY,04/03/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,99,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,1550,TBAKER1,MONDAY,5/18/2020,0,0,0,0,0,0,...,21,12,6,20,12,9,0,0,131,40
19,1550,TSCOFIEL,MONDAY,5/18/2020,0,0,0,0,0,0,...,30,23,9,12,32,9,0,0,162,40
20,1550,WALLEN1,MONDAY,5/18/2020,0,0,0,0,0,0,...,2,14,8,12,6,0,0,0,81,40
21,1550,XRIVERA,MONDAY,5/18/2020,0,0,0,0,0,0,...,47,29,9,22,24,10,0,0,223,40
22,1550,YWARIO1,MONDAY,5/18/2020,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,9,40

In [15]:
Connection_String = "postgres:postgres@localhost:5432/production_db"

engine= create_engine(f'postgresql://{Connection_String}')

In [16]:
finaldf.to_sql(name= 'productivity_rate', con=engine, if_exists='append',index=False)

In [17]:
pd.read_sql_query('select * from productivity_rate', con=engine).head()

,WH_ID,EMPLOYEE_ID,DAY_,DATE_,12am,1am,2am,3am,4am,5am,...,4pm,5pm,6pm,7pm,8pm,9pm,10pm,11pm,TTL_PCK_FOR_THE_DAY,CURRENT_OPEN_PICKS
0,1550,BCOURTNE,MONDAY,5/11/2020,0,0,0,0,0,0,...,13,1,14,4,15,3,0,0,87,299
1,1550,CCHRISTON2,MONDAY,5/11/2020,0,0,0,0,0,0,...,36,23,32,13,28,23,0,0,215,299
2,1550,CFLORES,MONDAY,5/11/2020,0,0,0,0,0,0,...,5,0,0,0,0,0,3,0,10,299
3,1550,DHERNAND,MONDAY,5/11/2020,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,74,299
4,1550,EADAMS1,MONDAY,5/11/2020,0,0,0,0,0,0,...,88,18,20,5,12,7,2,0,302,299

In [18]:
#filter by date and flag out the employees not hitting rate